/* Header.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
  }
  
  .logo {
    font-weight: bold;
    color: #5e72e4; /* Adjust the color to match your branding */
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 5px;
    
  }
  
  .navigation li {
    padding: 5px;
    cursor: pointer;
    background-color: #f8f9fa;
    transition: background-color 0.3s
  }

  .navigation li:hover {
    background: #5e72e4;
    color:#f8f9fa;
    transition: background-color 0.3s
  }
  
  .sign-in {
    background-color: #5e72e4; /* Adjust the color to match your branding */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .sign-in:hover {
    background-color: #4e62d4; /* Darker shade for hover state */
  }
  