.item {
    background-color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  .item img {
    max-width: 100px;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .item h2 {
    margin: 10px 0;
    color: #333;
  }
  